
x-common-networks: &common-networks
  networks:
    - d-gui-network

x-common-extra-hosts: &extra-hosts
  # use host.docker.internal to access the host machine from within the container
  extra_hosts:
    - "host.docker.internal:host-gateway"

services:
  backend:
    <<: [*common-networks, *extra-hosts]
    build:
      context: .
      dockerfile: ./Dockerfile
    image: d-gui-manager-web
    container_name: d-gui-manager-web
    entrypoint: /src/docker-entrypoint.sh
    environment:
      - DOCKER_NETWORK=d-gui-network
      - DOCKER_IMAGE_NAME=gui-vnc
    volumes:
      - ./src:/src # backend source code for hot reloading
      - ./supervisord.conf:/etc/supervisor/conf.d/supervisord.conf:rw # supervisord config
      - /var/run/docker.sock:/var/run/docker.sock:rw # to access the host docker daemon
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend-api.rule=PathPrefix(`/api`)"
      - "traefik.http.routers.backend-api.service=backend-service"
      - "traefik.http.routers.backend-api.priority=10"
      - "traefik.http.routers.backend-dashboard-api.rule=PathPrefix(`/dashboard/api`)"
      - "traefik.http.routers.backend-dashboard-api.service=backend-service"
      - "traefik.http.routers.backend-dashboard-api.priority=10"
      - "traefik.http.routers.backend-websocket.rule=PathPrefix(`/ws`)"
      - "traefik.http.routers.backend-websocket.service=backend-service"
      - "traefik.http.routers.backend-websocket.priority=10"
      - "traefik.http.services.backend-service.loadbalancer.server.port=8000"

  frontend:
    <<: [*common-networks]
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: d-gui-manager-frontend
    container_name: d-gui-manager-frontend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=PathPrefix(`/`) && !PathRegexp(`^/novnc`)"
      - "traefik.http.routers.frontend.service=frontend-service"
      - "traefik.http.routers.frontend.priority=1"
      - "traefik.http.services.frontend-service.loadbalancer.server.port=3000"

  redis:
    <<: [*common-networks]
    image: redis:alpine
    container_name: d-gui-manager-redis

  nvidia-cuda:
    # for testing with GPU support
    image: nvidia/cuda:11.0.3-base-ubuntu20.04
    container_name: d-gui-cuda
    entrypoint: ["echo", "CUDA image ready"]

  traefik:
    <<: [*common-networks]
    image: traefik:v3.0
    container_name: d-gui-proxy
    command:
      - --providers.docker
      - --providers.docker.exposedByDefault=false
      - --providers.docker.network=d-gui-network
      - --providers.docker.watch=true
      - --entrypoints.web.address=:80
      - --api.dashboard=true
      - --api.insecure
      - --serverstransport.insecureskipverify=true
    ports:
      - "8000:80" # Backend entrypoint
      - "8080:8080" # Traefik Dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

networks:
  d-gui-network:
    external: true

